.navbar-custom {
    background-color: #f8f9fa;
    padding: 0.5rem 1rem;
  }
  .navbar-brand img {
    height: 24px;
  }
  .btn-custom {
    background-color: #28a745;
    color: white;
  }
  .btn-custom:hover {
    background-color: #218838;
    color: white;
  }
  .settings-icon {
    font-size: 1.5rem;
    color: #6c757d;
  }
  .settings-icon:hover {
    color: #343a40;
  }

  .img-in-grid {
    width: 300px;
    height: 200px;
    overflow: hidden;
    display: flex;
    object-fit: cover;
    border-radius: 6%;
    border-style: solid;
  }
  @media (max-width: 768px) {
    .img-in-grid {
        max-width: 100%;
        aspect-ratio: 4 / 3;
    }
}
